body {
  background-color: #efefef;
  font-family: "Segoe UI";
}

.button {
  color: #000;
  background-color: #f7fe72;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.button:active {
  background-color: #d7db89;
  transform: translateY(4px);
}

.icon-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
  border-radius: 2px;
  font-size: 1.3rem;
}

.icon-button:active {
  background-color: rgb(214, 214, 214);
}
